<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shawon.travelbd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4_6s8a86g3a-67vu0zIKdgZhMCGq63Hw"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Search.SearchActivity" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".AddPost.AddPostActivity" android:theme="@style/full_screen_window"/>
        <activity android:name=".Notification.NotificationActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Profile.SettingsActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Signup.SignupActivity"/>
        <activity android:name=".SplashSreen.SignUpToWelcomeActivity"/>
        <activity android:name=".AddPost.NextShareActivity"/>
        <activity android:name=".AddPost.LocationSelectFromGooglePlaces"/>
        <activity android:name=".AddPost.SearchUserForTagActivity"/>
        <activity android:name=".SearchDestinationPlaces.SearchDestinationPlacesActivity"/>
        <activity android:name=".SearchDestinationPlaces.NearbyPlacesActivity"
            android:theme="@style/full_screen_window"/>
        <activity android:name=".SearchDestinationPlaces.NearbyPlacesMapActivity"
            android:theme="@style/full_screen_window"/>
        <activity android:name=".TouristDestination.TouristDestinationActivity"/>

        <provider
            android:authorities="com.facebook.app.FacebookContentProvider1786036838111875"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

    </application>

</manifest>